.about {
  color: $color-text-basic;
  display: flex;
  flex-direction: column;
}

.about__paragraph-container {
  width: 290px;
  margin: 0 auto;
}

.about__title {
  margin: 40px 0 12px;
}

.about__subtitle {
  margin: 0 0 36px;
}

.about__paragraph-container p span:nth-last-child(1) {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.about__paragraph-container p {
  margin: 0 0 36px;
  font-family: $secondary-font;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}

.about__image {
  display: flex;
  background-size: contain;
  margin: 0 0 36px;
}

.about__video {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 54, 122, 0.5); // поменять
    top: 0;
    z-index: 1;
  }
}

.about__video-image {
  display: flex;
  background-size: contain;
}

.about__video-button {
  position: absolute;
  width: 52px;
  height: 52px;
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  top: 59px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: none;
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 72px;
    height: 72px;
    border: 2px solid $color-banners;
    opacity: 0.2;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    box-sizing: border-box;
  }
}
